h1 {font-family: 'Anton', sans-serif; font-size: 150%;}
h2 {font-family: 'Anton', sans-serif; font-size: 150%;}
h3 {font-family: 'Anton', sans-serif; font-size: 150%;}
h4 {font-family: 'Anton', sans-serif; font-size: 150%;}
h5 {font-family: 'Anton', sans-serif; font-size: 150%;}
body {background-color: #f5deb3;}
p {font-family: 'Playfair Display', sans-serif; font-size: 100%, color: #ffffff}
